.text-box-container{
  background-color: #f4f5f9;
  border-radius: 1.5em;
  padding-left: 1em;
  padding-right: 1em;

  .text-box{
    background: transparent !important;
    border: none !important;
    box-shadow: 0 0 0 0 !important;
    resize: none !important;
  }

  .textarea:focus{
    box-shadow: 0 0 0 0 !important;
    border: none !important;
  }
}




