{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", { "modules": false }]
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "@material-ui/core",
                "camel2DashComponentName": false
            },
            "tree-shaking-mui-core"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/core/styles",
                "camel2DashComponentName": false
            },
            "tree-shaking-mui-styles"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/core/colors",
                "camel2DashComponentName": false
            },
            "tree-shaking-mui-colors"
        ],
        [
            "import",
            {
                "libraryName": "@material-ui/icons",
                "camel2DashComponentName": false
            },
            "tree-shaking-mui-icons"
        ]
    ]
}