/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-x
.env-y
/public/css
/public/js

# frontend
frontend/node_modules
frontend/dst
frontend/yarn-error.log

# ide
.vscode
