/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env-x
.env-y
/public/css
/public/js
**/.DS_Store
.vscode
frontend/node_modules
frontend/dist
