# common
.DS_Store
.vscode
.idea
node_modules
yarn-error.log
package-lock.json

# backend
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/vendor
backend/nbproject
backend/.vagrant
backend/Homestead.json
backend/Homestead.yaml
backend/npm-debug.log
backend/.env
backend/.phpunit.result.cache

# frontend
frontend/dist
frontend/yarn.lock
frontend/dist-storybook
