.border-0 {
  border: 0 !important;
}
.border-1px {
  height: 1px;
  background: #dbdbdb;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  overflow: hidden;
  width: calc(100% - 10px);
  margin-left: 5px;
}
.font13 {
  font-size: 13px;
  color: rgb(77, 77, 77);
};

.font12 {
  font-size: 12px;
  margin: 2px 2px 5px 0px;
  color: #afafaf;
};
.publish-btn {
  width: 100px;
  border-radius: 5px;
  margin: 5px calc(100% - 110px);
  background: #f4f5f9;
  border: 0;
  height: 35px;
  font-size: 15px;
  color: #424242;
};
.content {
  background: #f4f5f9;
}
.tiddings-tabs {
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
}
.tab-btn {
  background: transparent;
  color: #424242;
  border-radius: 20px;
  width: 80px;
  height: 24px;
  margin-top: 12px;
  border: 0;
}
.tab-btn-active {
  background: #ce565d;
  color: #fff;
}
.list {
  border: 0;
  box-shadow: none !important;
  &:first-child {
    border-top: 0;
  }
}
