.book-chapters {
  a {
    text-align: center;
    width: 100%;
    font-weight: 500;
    padding: 7px 0;
    margin: 3px 0;
    display: block;
    background-color: #ececec;
    color: black;
    text-decoration: none;
    &:hover {
      color: #ea234a;
    }
  }
}