.book-profile {
  $font-color: #555;
  $hover-color: #ea234a;

  text-align: center;

  a {
    color: $font-color;
    text-decoration: none;
    &:hover {
      color: $hover-color;
    }
  }
  
  。title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
    line-height: 1.8;
  }

  .brief {
    margin-bottom: 5px;
    span {
      margin-left: 5px;
      font-size: 80%;
      opacity: 0.7;
    }
  }

  .intro {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tags {
      a {
        padding: 3px 7px;
        margin-bottom: 2px;
        font-weight: 500;
        margin-right: 7px;
        background: #efefef;
        border: none;
        border-radius: 5px;
        font-size: 14px;
      }
    }
  }

  .counters {
    span {
      margin-left: 5px;
      i {
        margin-right: 2px;
      }
    }
  }
}