// customize css themes

[data-theme="light"] {
  --color-primary: #ce565d;

  --color-bg-base: #f4f5f9;
  --color-bg-front: white;

  --color-font: #333333;
  --color-font-light: #666666;
  --color-placeholder: #999999;
}

.theme-light {
  color: var(--color-font)
  p {
    color: var(--color-font-light);
  }

  .page {
    background-color: var(--color-bg-base);
  }
  .card {
    background-color: var(--color-bg-front);
  }
  .button {
    background-color: #dddfe6;
    color: var(--color-font);
  }
  .button.primary {
    background-color: #ce565d;
    color: white;
  }
}
