// this file is for both pc and mobile styles

:root {
  --radius-base: 4px;
  --radius-big: 11px;
  --radius-bigger: 15px;

  --font-family-regular: PingFangSC-Regular;
  --font-family-bold: PingFangSC-Semibold;
  --font-family-medium: PingFangSC-Medium;

  --font-size-small: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 18px;
  --font-size-4: 20px;

  // todo: base/big margin, padding ...etc
  --left-padding-small: 12px; // left and right padding
  --left-padding-1: 16px;
  --top-padding-small: 8px; // top and bottom padding
  --top-padding-1: 12px;
  --top-padding-2: 16px;

  --top-margin-1: 8px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-regular);
  font-size: var(--font-size-1);
}

input {
  border: none;
}
input:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  &:active {
    text-decoration: none;
  }
}

// set h1, h2, h3, h4, h5 font-size, font-family
title {
  font-family: var(--font-family-bold)
}

.icon-with-bottom-text {
  p {
    margin: 0;
    font-size: var(--font-size-small);
  }
}

.icon-with-right-text {
  i {
    font-size: var(--font-size-2);
  }
  span {
    margin: 0 var(--left-padding-small);
    font-size: var(--font-size-1);
  }
}

.blank-block {
  padding: var(--top-padding-1) var(--left-padding-1);
  a {
    color: var(--color-primary);
  }
}

.unread {
  font-weight: bold;
}