.float-button-default {
  position: fixed;
  right: 20px;
  bottom: 20%;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.float-button-wrapper {
  @extend .float-button-default;
  .btn {
    width: 20px;
    height: 20px;
  }
}

.float-button-plus {
  @extend .float-button-default;
  border-radius: 100%;
  padding: 10px;
  box-shadow: 0px 0px 9px -1px #c5c5c5;
  i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3c3c3c;
  }
}

.float-button-page {
  @extend .float-button-default;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 9px -1px #c5c5c5;
  justify-content: space-around;
  div {
    padding: 0 5px;
  }
  .page {
    cursor: pointer;
  }
  i {
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}