.list {
  $border: var(--color-border) 1px solid;

  width: 100%;
  background-color: var(--color-bg-front);
  border-radius: 0;
  box-shadow: none;
  border-top: $border;
  border-bottom: $border;

  .list-item {
    padding: 12px 0;
    position: relative;
    &:hover {
      cursor: pointer;
    }
  }
  .list-item:not(:last-child) {
    border-bottom: $border;
  }

  .list-arrow {
    float: right;
    color: #8c8787;
  }
}