.list {
  $border: #dbdbdb 1px solid;

  width: 100%;
  background-color: white;
  border-radius: 0;
  box-shadow: none;
  border-top: $border;
  border-bottom: $border;
  .list-item {
    &:hover {
      cursor: pointer;
    }
  }

  .list-arrow {
    float: right;
    color: #8c8787;
  }
}