.page {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  $top-height: 2.25rem;

  .top {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: $top-height;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e6e3e3;
  }

  .body {
    flex: 1;
    margin-top: $top-height;
  }

  .bottom {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: 3.25rem;
    background-color: white;
    box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.2);
  }
}