.popupMenu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .background {
    background-color: rgba(10, 10, 10, 0.2);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .animate-wrapper {
    width: 95%;
  }
  .panel {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    text-align: center;
    z-index: 10;
  }
}