.route-menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  .item {
    flex: 1;
    cursor: pointer;
    a {
      color: black;
    }
  }
  .item.selected {
    text-decoration: underline;
  }
}