.tab-card {
    .more {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px;
        background: white;
        border: #efeeee 1px solid;
        display: block;
        color: black;
    }
}