
%button-dark {
    background: var(--button-color) !important;
    color: var(--body-color);
    font-weight: 400;
    border: none;
    border-radius: 0px;
    -webkit-transition: background-color 0.2s, color 0.2s, outline 0.2s;
    transition: background-color 0.2s, color 0.2s, outline 0.2s;
    &:hover, &:focus, &:active {
        outline: 1px solid var(--button-color);
        color: var(--body-color);
        background: var(--panel-color);
        text-decoration: none;
    }
}

%button-grey {
    background: var(--border-color-light);
    color: var(--link-color);
    font-weight: 300;
    border: none;
    border-radius: 5px;
    &:hover, &:focus, &:active {
        color: var(--link-hover-color);
        background: var(--body-color);
        text-decoration: none;
        outline: none;
    }
}

%button-fancy {
    font-weight: 350;
    color: var(--panel-color);
    letter-spacing: 2px;
    padding: 10px 25px;
    margin: 5px 0;
    border: none;
    border-radius: 0.5em;
    background: var(--button-color);
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.25s ease 0s;
    &:hover, &:focus, &:active {
        color: var(--button-color);
        font-weight: 600;
        background-color: var(--panel-color);
        border: 1px solid var(--button-color);
        outline: none;
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }
}

%button-plain {
    border: none;
    display: inline-block;
    margin: 0px 0px;
    text-align: center;
    color: var(--link-color);
    background: none;
    &:first-child {
        border-right: solid 1px var(--border-color-light);
    }
    padding: 10px 20px;
    width: auto;
    &:hover, &:focus, &:active {
        box-shadow: none;
        text-decoration: none;
        color: var(--link-hover-color);
    }
}

%button-outline {
    background: var(--panel-color);
    color: var(--button-color);
    border-radius: 2em;
    border: solid 1px var(--button-color);
    -webkit-transition: background-color 0.2s, color 0.2s; /* Safari */
    transition: background-color 0.2s, color 0.2s;
    &:hover, &:focus {
        background: var(--panel-color);
        color: var(--link-hover-color);
        border: solid 1px var(--link-hover-color);
        text-decoration: none;
        outline: none;
    }
}

%button-clear {
    &:active, &:hover, &:focus {
        border: none;
        border-color: none;
        outline: none;
        text-decoration: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        color: var(--link-hover-color);
    }
}
