
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


$navbar-color: #fff;
$admin-symbol-color:#c49d8d;
$reminder-symbol-color:#FF2121;
$body-color:#f9f9f9;
$border-color:#999;
$border-color-light:#efefef;
$button-color:#666666;
$button-disabled:#e1e1e1;
$admin-button-color:#7c5454;
$link-color: #555;
$link-hover-color: #FF2121;
$body-font-color:#555;
$body-font-color-light:#999;
$button-color: #222;
$bold-color: #000;
$panel-color:#fff;
$dark-gray:#f3f3f3;
$font-list: "Noto Sans SC", "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
$font-list-serif: "HiraMinProN", "Source Han Serif CN","Source Han Serif SC","Source Han Serif TC", "Songti SC", "Songti TC", SimSun, serif;
