
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url(//fonts.googleapis.com/earlyaccess/notosanssc.css);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Variables
@import 'variables';

// Partials
@import 'buttons';


// font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "node_modules/font-awesome/scss/font-awesome.scss";

%light-shadow {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.04);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover, &:focus {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.04), 0 20px 60px rgba(0, 0, 0, 0.04);
    }
}

%button-shadow {
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1), 0 50px 60px rgba(0, 0, 0, 0.04);
    &:hover, &:focus {
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.04), 0 50px 60px rgba(0, 0, 0, 0.04);
    }
}




html {
   overflow-x:hidden;
   overflow-y: scroll; /* has to be scroll, not auto */
   -webkit-overflow-scrolling: touch;
}

body{
   padding-top: 60px;
   background-color: $body-color;
   font-family: $font-list;
   font-weight: 400;
   color: $body-font-color;
   width: 100%;
   overflow-y:scroll;
}

a {
   color: $link-color;
   // font-weight:bold;
}

a:hover, a:focus {
    color: $link-hover-color;
    text-decoration: none;
}

p a, label a {
    border-bottom: 1px solid $link-color;
    &:hover, &:focus {
        border-color: $link-hover-color;
    }
}

header .container {
    border-bottom: solid 1px $border-color-row;
    // @extend %light-shadow;
}

.navbar-inverse {
    margin-bottom: 5px;
    background: none;
    border: none;
    font-weight: 350;
    .container {
        background: $background-color;
    }
}

%navbar-shared {
    background-color: $navbar-color;
    // color: $body-font-color;
    color: $bold-color;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    i {
        font-size: 0.8em;
        display: none;
    }
    &:hover, &:focus {
        background-color: $body-color;
        color: $link-hover-color;
    }
}

.navbar-inverse .navbar-nav {
  li a, .open a {
    @extend %navbar-shared;
    padding: 14px 17px;
    // &:hover, &:focus {
    //     border-bottom: 2.5px solid $bold-color;
    // }
  }
}

.navbar-inverse .navbar-toggle {
    border: none;
    border-radius: 0px;
    // border-left: solid 1px $border-color-row;
    padding: 14px 17px;
    margin: 0px 0px;
    &:hover, &:focus {
        background-color: $navbar-color;
        color: $link-hover-color;
    }
}

.navbar-header {
    background-color: $navbar-color;
    border: none;
    border-radius: 0px;
    height: 48px;
}

.navbar-collapse.in {
    height: auto;
}

.navbar-nav {
  float: left !important;
  margin: 0 -15px;
}
.navbar-nav>li:last-child {
  // border-left: solid 1px $border-color-row;
  margin-right: 20px;
}

// .navbar-nav.navbar-right:last-child {
//   margin-right: -15px !important;
//   padding-right: 15px !important;
// }

.navbar-right {
  float: right!important;
}

#logo {
  float: left;
  position: absolute;
  margin-right: 10px;
  margin-left: 0.5rem;
  font-size: 1.7em;
  font-weight: 700;
  transition: width 0.1s;
  img {
    height: 2em;
    vertical-align: middle;
  }
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
  display: block;
  position: absolute;
  top: 48px;
  width: auto;
  z-index: 20;
  background-color: $navbar-color;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: none;
    >li > a {
        @extend %navbar-shared;
        padding: 10px 20px;
        &:hover, &:focus {
            border-left: 2.5px solid $bold-color;
            border-bottom: none;
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.search-container {
    display: inline-block;
    height: 48px;
    width: 240px;
    margin-bottom: -5px;
    overflow: hidden;
    z-index: 10;
    transition: width 0.3s;
    background: $panel-color;
    form {
        color: $border-color;
        select {
            float: left;
            padding: 12px 0px 12px 15px;
            width: 75px;
            height: 48px;
            background: $body-color;
            text-align: center;
            border: none;
            &:focus, &active {
                border: none;
                outline: none;
            }
        }
        input {
            color: $border-color;
            float: left;
            padding: 14px 0px;
            width: 105px;
            background: transparent;
            margin-left: 10px;
            border: none;
            &:focus, &active {
                border: none;
                outline: none;
            }
        }
        ::-webkit-input-placeholder {
            color: $border-color !important;
        }
    }
}

// .search-icon,
.search-submit {
    width: 53px;
    height: 48px;
    display: inline-block;
    position: absolute;
    right: 3px;
    border: none;
    padding: 0;
    margin: 0;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    background: transparent;
    &:focus, &active {
        border: none;
        outline: none;
    }
}


/*footer*/

footer {
  margin: 0px 1rem;
  margin-top: 45px;
  padding: 10px 0px;
  border-top: 1px solid #eaeaea;
  color: $body-font-color;
  opacity: 0.8;
  font-weight: 300;

  a {
    color: $link-color;
  }

  a:hover {
    color: $link-hover-color;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    margin-right: 15px;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 14px;
    // font-weight: bold;
  }
}

.jumbotron{
  background: $background-color;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 70px;
  padding-bottom: 40px;
  padding-left: 15% !important;
  padding-right: 15% !important;
  border: none;
}

#daily-quote {
    font-weight: 400;
    font-size: 1.6em;
    margin: 0px auto 10px auto;
    // writing-mode: vertical-rl;
    // max-height: 15em;
    // letter-spacing: 2px;
    // text-align: justify;
    &::before {
        content: "「";
        color: $link-hover-color;
        padding-right: 5px;
        // padding-bottom: 5px;
    }
    &::after {
        content: "」";
        color: $link-hover-color;
        padding-left: 5px;
        // padding-top: 5px;
    }
}

#quote-author {
    display: block;
    color: $body-font-color-light;
    font-weight: 300;
    margin-bottom: 30px;
}
// .quote-join {
//     display: inline-block;
//     padding: 10px 20px;
//     @extend %button-dark;
//     @extend %button-shadow;
//     border-radius: 2em;
//     &:hover, &:focus {
//         border-radius: 2em;
//         outline-style: none;
//         border: 1px solid $link-color;
//     }
// }

// https://codepen.io/seme332/pen/reJOwo
.quote-join {
    display: inline-block;
    @extend %button-fancy;
    font-size: 1em;
}

.quote-button-wrapper {
    width: 100%;
}
.quote-button {
    @extend %button-plain;
}

// Customize all input fields.

.form-control {
    border-radius: 0px;
    border: none;
    // border-bottom: 1px solid $body-font-color;
    background-color: $body-color;
    box-shadow: none;
    resize: none;
    transition: background-color 0.5s;
    &:focus{
        background-color: $border-color-row;
        box-shadow: none;
    }
}

#markdowneditor {
    background: $panel-color;
}

// https://gist.github.com/martinwolf/6434799

.input-helper {
    position: relative;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        position: absolute;
    }
}

.input-helper--checkbox {
    padding-left: 20px;

    &:before {
        top: 4px;
        left: 0;
        width: 1em;
        height: 1em;
        border: 1px solid $body-font-color;
        // TODO: write transition mixin
        transition: background-color 0.5s;
    }
}

input[type="checkbox"] {
    display: none;
    &:checked + label:before {
        background-color: $body-font-color;
    }
}

label, .label {
    font-weight: 400;
}

.status-wrapper {
    @extend %light-shadow;
}

.status-editor {
    display: inline-block;
    padding: 0px 0px !important;
    min-height: 2em;
    cursor: default;
    textarea {
        height: auto;
        border: none;
        box-shadow: none;
        transition: height 0.2s linear;
    }
    .form-control {
        background-color: $panel-color;
    }
}
.status-submit {
    button {
        @extend %button-dark;
        float: right;
        border: none;
        padding: 0px 20px;
        height: 35px;
    }
    padding: 0px 0px !important;
    border-top: solid 1px $border-color-row;
}

.img {
   width: 50%;
   height: auto;
   max-width: 50%;
   text-align: center;
   float: none;
}

.flex-container{
   text-align: center;
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.container{
   padding: 0px;
   width: 100%;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
%headings-shared {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.8;
    color: inherit;
}

h1, .h1 {
    @extend %headings-shared;
    font-weight: 300;
    margin-top: 18px;
}

h2, .h2 {
    @extend %headings-shared;
    font-weight: 300;
    margin-top: 0px;
}

h4, .h4, h5, .h5, h6, .h6 {
    @extend %headings-shared;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
}

code {
    padding: 2px 5px;
    font-size: 90%;
    color: $link-hover-color;
    background-color: rgb(247,247,247);
    border-radius: 4px;
}

.panel {
    margin-bottom:15px;
    border: none;
}

.panel-body {
   padding-top: 0;
   padding-bottom: 0.5em;
}

.panel-thread {
    padding-top: 15px;
}

#channel-name {
   margin-top:0px;
   color: $body-font-color;
   // color: $body-font-color-light;
   // font-family: $font-list-serif;
   letter-spacing: 1px;
   font-weight: 600;
   font-size: 0.8em;
   padding-top:5px;
   padding-bottom:6px;
   border-bottom: solid 2.5px $body-font-color;
   // border-bottom: solid 2px $body-font-color-light;
   &:hover, &:focus {
       color: $link-hover-color;
       text-decoration: none;
       border-color: $link-hover-color;
    //    border-bottom: solid 2px $link-hover-color;
   }
}

.static-article {
    padding: 1em 0.5em;
    line-height: 2;
}

.man-item {
    font-size: 14px;
    font-weight: 350;
    border-bottom: 1px solid $body-font-color;
    &:hover, &:focus {
        border-bottom: 1px solid $link-hover-color !important;
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color:$hr-border-color;
}

.row {
    padding: 3px 1.2em;
    margin-bottom: 2px;
}

.thread {
    // border-bottom: solid 1px $border-color-row;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    font-family: $font-list;
    a {
        display: block;
    }
}

.thread-info {
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex: 1 1 70%;
    -webkit-flex: 1 1 70%;
    margin: 2px 0px;
}

.thread-meta {
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    a {
        color: $body-font-color-light;
    }
    a:hover, a:focus {
        color: $link-hover-color;
    }
}

.scrollwrapper{
    height: 150px;
    overflow: scroll;
}

.grayout {
    opacity: 0.7; /* Real browsers */
    filter: alpha(opacity = 70); /* MSIE */
}
.voteposts{ /* 这里安排投票栏格式 */
   padding: 0px;
}
.vote{
   margin:0px;
   padding:3px;
   border-width: 1px;
   border-style: solid;
   border-radius: 3pt;
   background-color: inherit;
   text-align: center;
   font-size: 80%;
   vertical-align: middle;
}

.vote-text{
   font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif !important;
}

.admin-symbol {
   color: $admin-symbol-color;
   opacity: 0.8;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 10;

    -moz-animation-name: blinker;
    -moz-animation-duration:1.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: 10;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.reminder-sign {
    color: $reminder-symbol-color;
    font-weight: 400;
}

.inline-title{
    display:inline !important;
}

.pull-bottom {
    bottom: 0px;
    position: absolute;
}
.article-title{
   margin-top:10px;
   margin-bottom:10px;
}
.article-body{
   margin-top:10px;
   margin-bottom:10px;
}
.pagination{
   margin-top:0px;
   margin-bottom:0px;
}
.panel-footer{
   padding: 15px 15px;
   background-color: $body-color;
   border: none;
}
.panel-vote{

}
.post-reply{
   padding-left:20px;
   padding-top:5px;
}
.post-body{
   padding-top:0px;
   padding-bottom:0px;
}
.post-vote{
   padding-top:0px;
   padding-left:5px;
   padding-right:5px;
   padding-bottom:5px;
}
.book-intro{
   margin-top:5px;
   margin-bottom:10px;
   p{
      line-height:0.8;
   }
}
.admin-button{
   background-color: $background-color !important;
   color:$admin-button-color !important;
   border-color: $admin-button-color !important;
   border-width: 1.5px !important;
}

.panel-default{
   background: $background-color;
   border: none;
   box-shadow: none;
   .panel-heading{
      background: none;
      border: none;
    //   border-bottom: solid 1px $border-color-row;
      padding-bottom: 0;
      margin-bottom: 1em;
   }
}

.container-fluid{
   background-color: inherit;
}
.sosad-button{
   @extend %button-dark;
}

.sosad-button-auth {
    @extend %button-dark;
    width: 100%;
    padding: 12px 0px;
    margin: 5px 0px;
}

.sosad-button-tag {
    @extend %button-grey;
    padding: 3px 7px;
    margin-bottom: 2px;
    margin-right: 2px;
}

// 大分类
.sosad-button-tag-left {
    @extend %button-grey;
    font-weight: 500;
    padding: 3px 7px;
    margin-bottom: 2px;
    margin-right: 0px;
    border-radius: 5px 0 0 5px;
}

// 小分类
.sosad-button-tag-right {
    @extend %button-grey;
    font-weight: 500;
    background: $body-color;
    padding: 3px 7px;
    margin-bottom: 2px;
    margin-left: -5px;
    border-radius: 0 5px 5px 0;
}

// 新建章节，修改文案
.sosad-button-edit {
    @extend %button-plain;
    width: 49%;

}
.sosad-button-thread {
    @extend %button-fancy;
    font-weight: 600;
    display: inline-block;
    padding: 5px 20px;
    letter-spacing: normal;
    // border-radius: 0;
}

.sosad-button-kudos {
    @extend %button-outline;
    margin: 0 2px 5px 2px;
}

// 发布
.sosad-button-post {
    @extend %button-fancy;
    font-size: 1em;
}

.sosad-button-control{
   background-color:$background-color !important;
   border-color:$button-color;
   color:$button-color;
   border-width:2px;
   font-weight:bold;
   border-style:solid;
}

.badge {
    background: none;
    color: $link-hover-color;
    border: 1px solid $link-hover-color;
    border-radius: 1em;
    margin-bottom: 3px;
    padding: 3px;
}

// tab badges
.panel-default > .panel-heading .badge {
    background: none;
    border: none;
    font-weight: 600;
    color: $link-hover-color;
    padding: 0;
}

.button-disabled{
    background-color:$button-disabled;
    border-color:$button-disabled;
    cursor: not-allowed;
    color:$button-color;
    text-decoration: line-through;
}

.lead{
   font-weight:inherit !important;
}

.bigger-20{
   font-size: 120%;
}
.bigger-10{
   font-size: 110%;
}
.smaller-10{
   font-size: 90%;
}
.smaller-05{
   font-size:95%;
}
.smaller-15{
   font-size:85%;
}
.smaller-20{
   font-size:80%;
}
.smaller-25{
   font-size:75%;
}
.brief{
   line-height: 1.8;
}
.narrow{
   margin-top:7px;
   margin-bottom:2px;
}
.stat{
   margin:10px;
}
.admin-anonymous{
   color:red!important;
   text-decoration: line-through !important;
}
.main-text{
   line-height: 2;
   word-break: break-all;
   padding-top: 5px;
   p{
      white-space: pre-wrap !important;
      margin: 0 0 25px 0;
   }
   &.indentation {
     p{
       text-indent: 32px;
     }
   }

}

.chapter-text {
    line-height: 1.8;
    font-size: 1.2em;
}

.md-preview{
    p{
       white-space: pre-wrap !important;
    }
}
.addon-button{
   font-weight:lighter;
   border-width:1px;
   border-color:$panel-border-color;
   border-radius:3px;
}
.thread-title {
    font-weight: 300;
    line-height: 2;
}
.thread-vote{
   .sosad-button{
      margin-bottom:5px;
   }
   padding: 5px 30px 15px 30px;
}
.thread-edit {
    // border-top: 2px solid $bold-color;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
    padding: 5px 15px;
    z-index: 5;
}
.pagination {
    > .active > span{
      background-color:$button-color;
      border-color:$button-color;
   }
   > li >a {
      color:$link-color;
   }
}
.chapters{
   margin-top:10px;
   margin-bottom:10px;
}

// Scrollable tabs

%nav-pills-active {
    background: none;
    border: none;
    border-radius: 0;
    outline: 0;
    color: $body-font-color;
}

.nav-pills {
    overflow-x: auto;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
}

.nav-pills>li {
  float: none;
}

.nav-pills {
    border-bottom: none;
    > li > a {
        background: none;
        line-height: 1.2em;
        border: none;
        padding: 5px 0;
        &:hover,&:focus {
            @extend %nav-pills-active;
            background: $body-color;
        }
    }
    > li.active > a {
        @extend %nav-pills-active;
        border-bottom: 2px solid $link-hover-color;
        &:hover {
            background: $body-color;
            @extend %nav-pills-active;
            border-bottom: 2px solid $link-hover-color;
        }
        &:focus {
            background: none;
            @extend %nav-pills-active;
            border-bottom: 2px solid $link-hover-color;
        }
    }
}

.site-map {
    margin-bottom: 10px;
    padding-left: 1em;
    letter-spacing: 1px;
    font-weight: 500;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
}


@media (max-width: 480px) {
    p {
        text-align: justify;
        word-break: normal;
    }
    .text-center p {
        text-align: center !important;
    }

    .navbar-nav > li {
        float: left!important;
        border: none;
        width: 100%;
        margin: auto;
        text-align: left;
        >a { padding: 2px 18px; }
    }
    .navbar-collapse.in {
        position: absolute;
        top: 48px;
        right: 0px;
        width: 100%;
        height: auto;
        border: 1px $border-color-row;
        background: $background-color;
        -webkit-background-clip: padding-box;
                background-clip: padding-box;
        box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.04), 0 20px 60px rgba(0, 0, 0, 0.04);
        overflow-y: visible;
    }
    .navbar-collapse.collapsing {
        position: absolute;
        top: 48px;
        right: 0px;
        width: 100%;
        height: auto;
        border: none;
    }

    .navbar-inverse .navbar-nav {
        > li {
            > a i {
                display: inline;
            }
        }

    }

    .navbar-inverse .navbar-nav .open .dropdown-menu {
        width: 100%;
      position: absolute;
      top: 48px;
      left: 0px;
      border: none;
      > li { padding: 2px 0px; }
      box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.04), 0 20px 60px rgba(0, 0, 0, 0.04);
    }

    .search-container {
        width: 100%;
        background: $body-color;
        form {
            select {
                background: #f3f3f3;
                width: 90px;
                padding: 14px 4px 14px 34px;
            }
            input {
                width: 165px;
            }
        }
    }

    #daily-quote {
        font-size: 1.6em;
    }

    .thread {
        flex-flow: column;
        -webkit-flex-flow: column;
    }
    .thread-info {
        flex: auto;
        -webkit-flex: auto;
    }
    .thread-meta {
        flex-flow: row;
        -webkit-flex-flow: row;
        flex: auto;
        -webkit-flex: auto;
    }
    .status-editor {
        textarea:focus {
            overflow: hidden;
            width: 100%;
        }
    }
    .status-submit {
        position: absolute;
        bottom: 0px;
        right: 5px;
    }

    .sosad-button-thread,
    .sosad-button-thread:hover,
    .sosad-button-thread:focus,
    .sosad-button-thread:active{
        background: $bold-color;
        color: $panel-color;

        display: inline-block;
        font-weight: 400;
        line-height: 2.75rem;
        position: fixed;
        width: 50%;
        bottom: 0;
        text-align: center;
        border: 1px solid $bold-color;
        border-radius: 0;
        // box-shadow: none;
        transition: none;
        opacity: 1;
        z-index: 10;
        padding: 1em 0;
        transform: none;
        // 回复显示在右边，容易按到
        &:first-child {
            right: 0;
        }
        &:last-child {
            left: 0;
        }
    }
    .nav-pills {
        > li > a {
            padding: 10px 1em;
        }
    }

}
