
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "node_modules/font-awesome/scss/font-awesome.scss";




$navbar-color: #3c3e42;
$admin-symbol-color:#c49d8d;
$reminder-symbol-color:#e3a300;
$background-color:#f5f5f5;
$body-color:#fff;
$button-color:#666666;
$button-disabled:#e1e1e1;
$admin-button-color:#7c5454;
$link-color: #505050;
$body-font-color:#505050;
$panel-border-color:#c4c4c4;
$hr-border-color:#e8e8e8;
$new-chapter-badge-color:#ce8383;
$new-chapter-badge-background-color:#dee0ec;


header {
   .navbar-inverse {
     background-color: $navbar-color;
   }
}
html {
   overflow-x:hidden;
   overflow-y: scroll; /* has to be scroll, not auto */
   -webkit-overflow-scrolling: touch;
}

body{
   background-color:$body-color;
   font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
   color: $body-font-color;
   width: 100%;
   overflow-y:scroll;
}

a {
   color:$link-color;
   font-weight:bold;
}

.navbar{
   margin-bottom: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-decoration: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
  }
}

/*footer*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    margin-right: 15px;

    li {
      float: left;
      margin-left: 15px;
    }
  }

  img.brand-icon {
    width: 17px;
    height: 17px;
  }

  .slogon {
    font-size: 13px;
    font-weight: bold;
  }
}

.jumbotron{
  text-align: center;
  margin-bottom: 5px;
}

.img {
   width: 50%;
   height: auto;
   max-width: 50%;
   text-align: center;
   float: none;
}

.flex-container{
   text-align: center;
   display: -webkit-flex;
   display: flex;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.container{
   padding: 0px;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 2.0;
    color: inherit;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height:1.5;
}
.panel{
   padding:5px;
   margin-bottom:5px;
   border-color:$panel-border-color;
}
.panel-body{
   padding-top: 0;
   padding-bottom:5px;
}
.panel-heading{
   margin-top:0px;
   margin-bottom:0px;
   padding-left:15px;
   padding-top:5px;
   padding-right:15px;
   padding-bottom:5px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color:$hr-border-color;
}

.scrollwrapper{
    height: 150px;
    overflow: scroll;
}

.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}

.grayout {
    opacity: 0.7; /* Real browsers */
    filter: alpha(opacity = 70); /* MSIE */
}
.voteposts{ /* 这里安排投票栏格式 */
   padding: 0px;
}
.vote{
   margin:0px;
   padding:3px;
   border-width: 1px;
   border-style: solid;
   border-radius: 3pt;
   background-color: inherit;
   text-align: center;
   font-size: 80%;
   vertical-align: middle;
}

.vote-text{
   font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif !important;
}

.admin-symbol {
   color: $admin-symbol-color;
   opacity: 0.8;
}
.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 10;

    -moz-animation-name: blinker;
    -moz-animation-duration:1.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: 10;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.reminder-sign {
   color: $reminder-symbol-color;
   text-decoration: underline;
   font-weight: bold;
}
.inline-title{
   display:inline !important;
}

.pull-bottom {
    bottom: 0px;
    position: absolute;
}
.article-title{
   margin-top:10px;
   margin-bottom:10px;
}
.article-body{
   margin-top:10px;
   margin-bottom:10px;
}
.pagination{
   margin-top:0px;
   margin-bottom:0px;
}
.panel-footer{
   padding-top:5px;
   padding-bottom:5px;
   padding-left:15px;
   padding-right:15px;
}
.panel-vote{
   padding-left:15px;
   padding-right:15px;
}
.post-reply{
   padding-left:20px;
   padding-top:5px;
}
.post-body{
   padding-top:0px;
   padding-bottom:0px;
}
.post-vote{
   padding-top:0px;
   padding-left:5px;
   padding-right:5px;
   padding-bottom:5px;
}
.book-intro{
   margin-top:5px;
   margin-bottom:10px;
   p{
      line-height:0.8;
   }
}
.admin-button{
   background-color: $background-color !important;
   color:$admin-button-color !important;
   border-color: $admin-button-color !important;
   border-width: 1.5px !important;
}

.panel-default{
   background: $background-color;
   .panel-heading{
      background: $background-color;
      border-color:$panel-border-color;
   }
}
.container-fluid{
   background-color: inherit;
}
.sosad-button{
   background-color:$button-color;
   border-color:$button-color;
   font-weight:bold;
}
.sosad-button-control{
   background-color:$background-color !important;
   border-color:$button-color;
   color:$button-color;
   border-width:2px;
   font-weight:bold;
   border-style:solid;
}
.button-disabled{
    background-color:$button-disabled;
    border-color:$button-disabled;
    cursor: not-allowed;
    color:$button-color;
    text-decoration: line-through;
}

.lead{
   font-weight:inherit !important;
}

.bigger-20{
   font-size: 120%;
}
.bigger-10{
   font-size: 110%;
}
.smaller-10{
   font-size: 90%;
}
.smaller-05{
   font-size:95%;
}
.smaller-15{
   font-size:85%;
}
.smaller-20{
   font-size:80%;
}
.smaller-25{
   font-size:75%;
}
.brief{
   margin-top:0px;
   margin-bottom:0px;
}
.narrow{
   margin-top:7px;
   margin-bottom:2px;
}
.stat{
   margin:10px;
}
.admin-anonymous{
   color:red!important;
   text-decoration: line-through !important;
}
.main-text{
   line-height: 180%;
   word-break: break-all;
   padding-top: 5px;
   p{
      white-space: pre-wrap !important;
   }
   &.indentation {
     p{
       text-indent: 32px;
     }
   }

}
.md-preview{
    p{
       white-space: pre-wrap !important;
    }
}
.addon-button{
   font-weight:lighter;
   border-width:1px;
   border-color:$panel-border-color;
   border-radius:3px;
}
.thread-vote{
   .sosad-button{
      margin-bottom:5px;
   }
   padding-top:5px;
}
.pagination {
    > .active > span{
      background-color:$button-color;
      border-color:$button-color;
   }
   > li >a {
      color:$link-color;
   }
}
.chapters{
   margin-top:10px;
   margin-bottom:10px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.tag-button-left{
    padding:0px 2px 0px 5px;
    border-radius:10px 0px 0px 10px;
    margin:-5px 0px 0px 0px;
    border-width:0px;
}
.tag-button-right{
    padding:0px 5px 0px 2px;
    border-radius:0px 10px 10px 0px;
    margin:-5px 0px 0px -5px;
    border-width:0px;
}

.tag-green{
    background-color:#c7ecd4;
    color:#808080;
}
.tag-red{
    background-color:#ecc7c7;
    color:#808080;
}
.tag-yellow{
    background-color:#ece6c7;
    color:#808080;
}
.tag-blue{
    background-color:#c7cfec;
    color:#808080;
}

.badge-tag{
    padding:3px 6px;
    border-radius:8px;
    margin:-4px 0px 0px -1px;
    border-width:0px;
}
.bianyuan-tag{
    background-color:#dadada;
    color:#6f6e6c;

}
.newchapter-badge{
    color:$new-chapter-badge-color;
    background-color:$new-chapter-badge-background-color;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
}

img{
    max-width: 100%;
}
