
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// font-awesome
$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "node_modules/font-awesome/scss/font-awesome.scss";




$navbar-color: #3c3e42;
$admin-symbol-color:#c49d8d;
$editor-symbol-color:#5d97de;
$reminder-symbol-color:#e3a300;
$background-color:#f5f5f5;
$body-color:#fff;
$button-color:#666666;
$button-disabled:#e1e1e1;
$admin-button-color:#7c5454;
$link-color: #505050;
$body-font-color:#505050;
$panel-border-color:#c4c4c4;
$hr-border-color:#e8e8e8;
$new-chapter-badge-color:#ce8383;
$new-chapter-badge-background-color:#dee0ec;
$recommend-color: #ffb200;
$jinghua-color: #ba234e;
$title-background-color:#afafaf;
$color-s11-1:#ccba93;
$color-s11-2:#96af96;
$color-s12-1:#eaff78;
$color-s12-2:#e6c5c5;


header {
    .navbar-inverse {
        background-color: $navbar-color;
    }
}
html {
    overflow-x:hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

body{
    background-color:$body-color;
    font-family:"PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif;
    color: $body-font-color;
    width: 100%;
    overflow-y:scroll;
    font-size:18px;
}

a {
    color:$link-color;
    font-weight:bold;
}

.nav >li >a{
    padding:5px 10px;
}

.navbar{
    margin-bottom: 5px;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 2.0em;
    color: #fff;
    text-decoration: none;
    letter-spacing: -5px;
    padding-top: 0;
    font-weight: 200;
    &:hover {
        color: #fff;
    }
}

/*footer*/

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;

    a {
        color: #555;
    }

    a:hover {
        color: #222;
    }

    small {
        float: left;
    }

    ul {
        float: right;
        list-style: none;
        margin-right: 15px;

        li {
            float: left;
            margin-left: 15px;
        }
    }

    img.brand-icon {
        width: 17px;
        height: 17px;
    }

    .slogon {
        font-size: 13px;
        font-weight: bold;
    }
}

.jumbotron{
    text-align: center;
    margin-bottom: 5px;
    padding:10px;
    padding-top:20px;
}

.img {
    width: 50%;
    height: auto;
    max-width: 50%;
    text-align: center;
    float: none;
}

.flex-container{
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.container{
    padding: 0px;
}

.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .font-1, .font-2, .font-3, .font-4, .font-5, .font-6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 2.0;
    color: inherit;
}
h5, .h5, h6, .h6 , .font-5, .font-6{
    margin-top: 5px;
    margin-bottom: 5px;
    line-height:1.5;
}
h4, .h4 , h3, .h3,{
    margin-top: 7px;
    margin-bottom: 5px;
    line-height:2.0;
}

h2, .h2,  h1, .h1, {
    margin-top: 10px;
    margin-bottom: 5px;
    line-height:2.5;
}

h1, .h1, .font-1{
    font-size:30px;
}

h2, .h2, .font-2{
    font-size:26px;
}

h3, .h3, .font-3{
    font-size:22px;
}

h4, .h4, .font-4{
    font-size:18px;
}
h5, .h5, .font-5{
    font-size:16px;
}
h6, .h6, .font-6{
    font-size:14px;
}



.panel{
    padding:5px;
    margin-bottom:5px;
    border-color:$panel-border-color;
}
.panel-body{
    padding-top: 0;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
}
.panel-heading{
    margin-top:0px;
    margin-bottom:0px;
    padding:5px;
}
.row{
    margin:0px;
    padding-left:0px;
    padding-right:0px;
}
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
    margin:5px 0px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-color:$hr-border-color;
}

.scrollwrapper{
    height: 150px;
    overflow: scroll;
}

.navbar-collapse.collapse {
    display: block!important;
}

.navbar-nav.nav{
    padding:0px;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
    a{
        padding-top:10px;
        padding-left:8px;
        padding-right:8px;
        font-weight:400;
        font-size:1.2em;
    }
    .dropdown{
        li{
            padding-top:5px;
            padding-bottom:5px;
            font-size:1.0em;
            letter-spacing: 2px;
        }
    }
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    padding-top:10px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right!important;
}

.grayout {
    opacity: 0.7; /* Real browsers */
    filter: alpha(opacity = 70); /* MSIE */
}
.voteposts{ /* 这里安排投票栏格式 */
    padding: 0px;
}
.vote{
    margin:0px;
    padding:3px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3pt;
    background-color: inherit;
    text-align: center;
    font-size: 80%;
    vertical-align: middle;
}

.vote-text{
    font-family: "PingFang SC", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Helvetica, Arial, Verdana, sans-serif !important;
}

.admin-symbol {
    color: $admin-symbol-color;
    opacity: 0.8;
}
.editor-symbol {
    color: $editor-symbol-color;
    opacity: 0.8;
}

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-iteration-count: 10;

    -moz-animation-name: blinker;
    -moz-animation-duration:1.5s;
    -moz-animation-timing-function: ease;
    -moz-animation-iteration-count: 10;

    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.reminder-sign {
    color: $reminder-symbol-color;
    text-decoration: underline;
    font-weight: bold;
}
.inline-title{
    display:inline !important;
}

.pull-bottom {
    bottom: 0px;
    position: absolute;
}
.article-title{
    margin-top:10px;
    margin-bottom:10px;
}
.article-body{
    margin-top:10px;
    // margin-bottom:10px;
}
.pagination{
    margin-top:0px;
    margin-bottom:0px;
}
.panel-footer{
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
}
.panel-vote{
    padding-left:5px;
    padding-right:5px;
}
.post-reply{
    padding-left:32px;
    padding-top:5px;
}
.post-body{
    padding-top:0px;
    padding-bottom:0px;
}
.overflow-hidden{
    overflow:hidden;
}
.post-vote{
    padding-top:0px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
}
.book-intro{
    margin-top:5px;
    margin-bottom:10px;
    p{
        line-height:0.8;
    }
}
.admin-button{
    background-color: $background-color !important;
    color:$admin-button-color !important;
    border-color: $admin-button-color !important;
    border-width: 1.5px !important;
}

.panel-default{
    background: $background-color;
    .panel-heading{
        background: $background-color;
        border-color:$panel-border-color;
    }
}
.container-fluid{
    background-color: inherit;
}
.sosad-button{
    background-color:$button-color;
    border-color:$button-color;
    font-weight:bold;
    border-width:2px;
}
.sosad-button-control{
    background-color:$background-color !important;
    border-color:$button-color;
    color:$button-color;
    border-width:2px;
    font-weight:bold;
    border-style:solid;
}
.button-disabled{
    background-color:$button-disabled;
    border-color:$button-disabled;
    cursor: not-allowed;
    color:$button-color;
    text-decoration: line-through;
}

.lead{
    font-weight:inherit !important;
}
.bigger-30{
    font-size: 130%;
}

.bigger-20{
    font-size: 120%;
}
.bigger-10{
    font-size: 110%;
}
.bigger-5{
    font-size: 105%;
}
.smaller-5{
    font-size: 95%;
}
.smaller-10{
    font-size: 90%;
}
.smaller-05{
    font-size:95%;
}
.smaller-15{
    font-size:85%;
}
.smaller-20{
    font-size:80%;
}
.smaller-25{
    font-size:75%;
}
.smaller-30{
    font-size:70%;
}
.smaller-30 {
    &.pull-right{
        margin-top:6px;
    }
}

.line-height-1{
    line-height:1.0;
}

.brief-0{
    margin-top:0px;
    margin-bottom:0px;
}
.brief-2{
    margin-top:2px;
    margin-bottom:2px;
}
.brief-4{
    margin-top:4px;
    margin-bottom:2px;
}
.brief-6{
    margin-top:6px;
    margin-bottom:2px;
}
.brief-8{
    margin-top:8px;
    margin-bottom:2px;
}
.narrow{
    margin-top:7px;
    margin-bottom:2px;
}

.stat{
    margin:10px;
}
.admin-anonymous{
    color:red!important;
    text-decoration: line-through !important;
}
.main-text{
    line-height: 180%;
    word-break: break-all;
    padding-top: 5px;
    p{
        white-space: pre-wrap !important;
    }
    &.indentation {
        p{
            text-indent: 32px;
            img{
                position:relative;
                left:-32px;
            }
        }
    }

}
.md-preview{
    p{
        white-space: pre-wrap !important;
    }
}
.addon-button{
    font-weight:lighter;
    border-width:1px;
    border-color:$panel-border-color;
    border-radius:3px;
}
.thread-vote{
    .sosad-button{
        margin-bottom:5px;
    }
    padding-top:5px;
}
.pagination {
    > .active > span{
        background-color:$button-color;
        border-color:$button-color;
    }
    > li >a {
        color:$link-color;
    }
}
.chapters{
    margin-top:10px;
    margin-bottom:10px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.dropdown-menu {
    font-size:18px;
    li {
        margin:5px;
    }
}

.tag-button-left{
    padding:0px 2px 0px 5px;
    border-radius:10px 0px 0px 10px;
    margin:-5px 0px 0px 0px;
    border-width:0px;
}
.tag-button-right{
    padding:0px 5px 0px 2px;
    border-radius:0px 10px 10px 0px;
    margin:-5px 0px 0px -5px;
    border-width:0px;
}

.tag-green{
    background-color:#c7ecd4;
    color:#808080;
}
.tag-red{
    background-color:#ecc7c7;
    color:#808080;
}
.tag-yellow{
    background-color:#ece6c7;
    color:#808080;
}
.tag-blue{
    background-color:#c7cfec;
    color:#808080;
}

.badge-tag{
    padding:3px 6px;
    border-radius:8px;
    margin:-4px 0px 0px -1px;
    border-width:0px;
}
.bianyuan-tag{
    background-color:#dadada;
    color:#6f6e6c;

}
.newchapter-badge{
    color:$new-chapter-badge-color;
    background-color:$new-chapter-badge-background-color;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    cursor: pointer;
}

img{
    max-width: 100%;
}

.recommendation {
    padding-top:5px;
}

.daily-quote{
    height:160px;
    line-height: 1.6;
    vertical-align: middle;
}

@media (min-width: 768px) {
    /* Target devices wider than 768px. */
    .daily-quote{
        height:120px;
    }
}

@media (max-width: 767px) {
    /* Target devices narrower than 768px. */
    .daily-quote{
        padding-top:10px;
        padding-bottom:10px;
    }
}

.chapter{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}

.selector{
    font-size:2em;
    margin-top:8px;
    margin-bottom:15px;
}

.recommend-label{
    position:relative;
    padding-left:1.3em;
    padding-right:1.3em;
}

.recommend-icon{
    color:#f5c842;
    font-size:1.7em;
    left:-0.2em;
    top:-15%;
    position:absolute;
}

.recommend-text{
    color:#f5c842;
    font-size:1em;
    font-weight:300;
    position:absolute;
    top:-5%;
    left:1.1em;
}

.jinghua-label{
    position:relative;
    padding-left:1em;
    padding-right:1em;
}

.jinghua-icon{
    color:$jinghua-color;
    font-size:1.2em;
    left:0.1em;
    top:1px;
    position:absolute;
}

.recommend-star{
    color:$recommend-color;
}

textarea {
    font-size: 1em;
}

.form-control {
    font-size: 1em;
}
.md-editor>textarea{
    font-size: 1em;
}

.dropdown-cog{
    margin:0;
    border:0;
    background-color: inherit;
}
.search-button{
    border-width:0px;
    background-color:$body-color;
    padding:0px;
    margin:0px;
}

.unread-reminders{
    color:$jinghua-color;
}

.maintitle{
    border-radius: 3pt;
    border-width:0;
    background-color:$title-background-color;
    color:$background-color;
    padding-left:4px;
    padding-right:4px;
    font-size:90%;
    font-weight:100;
}

.title-emoji {
    border-radius: 3em;
    font-size:80%;
    padding: 6px 8px;
}


.title-1{
    background-color:#a8c5a8;
}
.title-2{
    background-color:#bfa8c5;
}
.title-3{
    background-color:#c5a8a8;
}
.title-4{
    background-color:#c5c5a8;
}
.title-5{
    background-color:#a8c0c5;
}
.title-6{
    background-color:#a8a9c5;
}
.title-7{
    background-color:#c5a8c0;
}
.title-8{
    background-color:#c5b1a8;
}
.title-9{
    background-color:#a8c5be;
}
.title-10{
    background-color:#93a4cc;
}
.title-11{
    background-color:#8451c2;
}
.title-12{
    background-color:#D65DB1;
}
.title-13{
    background-color:#FF6F91;
}
.title-14{
    background-color:#FF9671;
}
.title-15{
    color:#4d4253;
    background-color:#FF7C5F;
}
.title-16{
    color:#4d4253;
    background-color:#F9F871;
}

.title-17{
    background-color:#56a9a9;
}

.title-18{
    background-color:skyblue;
}

.title-19{
    color:#e332c2 ;
    background-color:#f7e8b3 ;
}

.title-20{
    background-image: linear-gradient(45deg,$color-s11-1 25%,$color-s11-2 0,$color-s11-2 50%,$color-s11-1 0,$color-s11-1 75%,$color-s11-2 0);
    background-size: 10px 10px;
    color:#ffffff;
}

.title-21{
    background-image: linear-gradient(45deg,$color-s12-1 25%,$color-s12-2 0,$color-s12-2 50%,$color-s12-1 0,$color-s12-1 75%,$color-s12-2 0);
    background-size: 10px 10px;
    color:#3a165f;
}

.title-31 { // fish
  background: url(https://img.icons8.com/color/32/000000/fish-food.png) no-repeat;
  background-position: 0% 50%;
  color: #4dd0e1;
  padding-left: 32px;
}

.title-76 { // sketch
  background:url(
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC
   ) repeat;
  color: #424656;
  font-weight: 400;
}

.title-77 { //doge
  background: #3d6fc7 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA2ElEQVQ4T2NkoBAwUqifgfoGTPZW/g9yVe7WuyiGg8TRxUDqMBTlLF0C9tWU6BgU34HEQWLohmA34G4h1qCZUveaMgPALkMzBNMFTaI4IwakOWfLHYYpPipwl8ANAAUS2P9ozodpYjhnCTcY2RXYDVDuR7gCyUCQRhBADlCwAWDbQU4HaQRpQDYAzUOgmMBqgGUkF4OxJjdY+dnP6QzGBhoIJyNFKXI0g6IUxQsgQ+BApgjFEGSHnL1wg+F4dws4IDFiAW6ITBHO2IBpxpoSiclcyKmR4swEAKGRdxGhsgIHAAAAAElFTkSuQmCC') no-repeat;
  background-size: 16px;
  background-position: 6px 50%;
  padding: 6px 8px 6px 24px;
  color: #fff0c7;
  border-radius: 3em;
  font-size: 80%;
  box-shadow: 0 0 1em #94A3D9;
}

.title-80 { //alice-light
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 16 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23d6eff6' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M8.000,0.012 L15.992,12.000 L8.000,23.988 L0.008,12.000 L8.000,0.012 Z'/%3E%3C/g%3E%3C/svg%3E");
  font-weight: 400;
  color: #557;
  &::before {
    content: "♠ ";
  }
  &::after {
    content: " ♠";
  }
}

.title-81 { //alice-dark
  background-color: #5a5c7a;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='18' viewBox='0 0 16 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffb7d0' fill-opacity='0.8' fill-rule='evenodd'%3E%3Cpath d='M8.000,0.012 L15.992,12.000 L8.000,23.988 L0.008,12.000 L8.000,0.012 Z'/%3E%3C/g%3E%3C/svg%3E");
  font-weight: 400;
  color: #fff;
  text-shadow: -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333, 1px 1px 0 #333;
  &::before {
    content: "♠ ";
  }
  &::after {
    content: " ♠";
  }
}

.title-82 { //pokeball
  background: linear-gradient(
    180deg,
    #f00,
    #f00 48%,
    #222224 48%,
    #222224 52%,
    #f0f0f0 52%,
    #f0f0f0 100%
  );
  color: #222224;
  border-radius: 50%;
  border: #222224 1px solid;
  font-family: monospace;
  padding: 0.3em 0.5em;
  &::after {
    content: "●";
    color: #f0f0f0;
  }
  &::before {
    content: "○";
    position: absolute;
    padding-top:2px;
  }
}



.title-83 { //rainbow
  background: linear-gradient( 101.9deg,  rgba(253,183,220,1) 25%, rgba(240,213,190,1) 38.1%, rgba(249,240,206,1) 55.5%, rgba(253,244,210,1) 67.3%, rgba(222,248,226,1) 85.2%, rgba(200,247,242,1) 103.6% );
  color: #7678b6;
  font-weight: 400;
  animation: rainbow 0.5s infinite;
  &::before {
    content: "🦄";
  }
}

.title-84 { //vaporwave
  background: linear-gradient(135deg, #ffa6ff, #efafff, #e0b7ff, #d4beff, #cac4ff, #bbccff, #afd3ff, #a7d9ff, #96e3ff, #83edff, #73f6ff, #6bffff);
  text-shadow: -1px 0 #f8efcd, 1px 2px 5px #a009cf;

}

.title-85 { //windows95
  background:#C0C0C0;
  outline:1px solid #000000;
  background:#C0C0C0;
  border-width:1px;
  border-style:solid;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-radius: 1px;
  font-family:"MS Sans Serif", serif;
  font-weight: 400;
  text-align:center;
  focus:none;
  color: #000;
  &:hover {
    border-color:#808080 #FFF #FFF #808080;
  }
}

.title-86 { //spongebob
  background-color: #f8f700;
  background-image: url("data:image/svg+xml,%3Csvg width='180' height='80' viewBox='-20 0 320 160' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%2390b42f' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color: #3267a4;
  font-weight: 500;
  box-shadow: 0 3px #90b42f;
}

.title-87 { //cthulhu
    background: #F9F871 url(https://img.icons8.com/cotton/32/000000/octopus.png) no-repeat; //#ACBFD7
    background-position: 0% 50%;
    color: #000;
    padding-left: 32px;
}

.title-88 { //halloween
    background: #111111;
    &::before {
        content: "🎃";
    }
}

.title-89 { //peach
    background: #FFBEC2;
    color: #54433A;
    font-weight: 500;
    &::before {
        content: "🍑";
    }
}

.title-90 { //bug
  background: url(https://img.icons8.com/dusk/32/000000/bug.png) no-repeat;
  background-position: 0% 50%;
  padding-left: 36px;
  color: #8d6c9f;
  animation: bug 0.5s infinite;
}

@keyframes bug
{
  0%   {clip-path: polygon(0% 0%, 100% 0%, 100% 20%, 0% 40%);}
  5%  {clip-path: polygon(0% 60%, 80% 60%, 90% 100%, 0% 70%);}
  10%  {clip-path: polygon(0% 20%, 100% 20%, 100% 90%, 0% 80%);}
  30%  {clip-path: padding-box polygon(0% 20%, 100% 20%, 100% 60%, 0% 40%);}
  40%  {clip-path: padding-box polygon(5% 60%, 100% 80%, 90% 90%, 0% 100%);}
  50%  {clip-path: padding-box polygon(5% 10%, 100% 20%, 90% 50%, 0% 50%);}
  70%  {clip-path: padding-box polygon(5% 60%, 100% 20%, 90% 80%, 0% 70%);}
  90%  {clip-path: padding-box polygon(0% 0%, 80% 50%, 100% 1000%, 5% 70%);}
}

.title-91 { // card style title
    background-color: #c5c5a8;
    width: 25%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    background: #fff;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
    color: #111;
}

.title-92 { //piano style title
    color: #f04835;
    font-weight: 400;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='150' height='46' viewBox='0 0 300 46' preserveAspectRatio='xMinYMin meet'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000' fill-opacity='0.8'%3E%3Cpolygon points='68 44 62 44 62 46 56 46 56 44 52 44 52 46 46 46 46 44 40 44 40 46 38 46 38 44 32 44 32 46 26 46 26 44 22 44 22 46 16 46 16 44 12 44 12 46 6 46 6 44 0 44 0 42 8 42 8 28 6 28 6 0 12 0 12 28 10 28 10 42 18 42 18 28 16 28 16 0 22 0 22 28 20 28 20 42 28 42 28 28 26 28 26 0 32 0 32 28 30 28 30 42 38 42 38 0 40 0 40 42 48 42 48 28 46 28 46 0 52 0 52 28 50 28 50 42 58 42 58 28 56 28 56 0 62 0 62 28 60 28 60 42 68 42 68 0 70 0 70 46 68 46'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    padding-left: 40px;
}


.title-94 { // red-pill
    background: #ff2600;
    font-weight: 300;
    border-radius: 2em;
    box-shadow: 0 0 1em #ff516e, 0 0 0.5em #ff516e;
    font-size:70%;
    padding: 6px 8px;
}

.title-95 { // glitch style title
    background: repeating-linear-gradient(
    0deg,
    #000,
    #000 1px,
    #555 1px,
    #555 2px
    );
    color: white;
    text-shadow: -1px 0 #00fff9, 1px 2px #ff00c1;
    animation: glitch 1s infinite;
    -moz-animation:glitch 1s infinite; /* Firefox */
    -webkit-animation: glitch 1s infinite; /* Safari and Chrome */
    -o-animation: glitch 1s infinite; /* Opera */
}


.title-96 { // ahchor style
    color: #1b2f3c;
    background-color: #cedee8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160' width='60' height='60'%3E%3Cpath fill='%23fff' fill-opacity='0.6' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.title-97 { //neon style title
    background: #292d3e;
    font-weight: 500;
    // font-style: oblique;
    text-shadow: 0 0 1.5em #ff6ec7, 0 0 5px #ff6ec7, 0 0 3px #ff6ec7;
    display: inline-block;
    transform: skewX(-15deg);
    animation: neon 1s infinite;
}

.title-98 { // 2 dots
    background: #fff;
    color: #1b912e;
    box-shadow: 2px 2px 0 #1b912e, 4px 4px 0 #1b912e;
}

.title-99{
    color:#66B3FF ;
    background-color:#66B3FF ;
}

.title-100 { //hacker style
    border-radius: 0;
    background: #000;
    font-family: monospace;
    color: #0f0;
}

.title-110 { //bronze
  background: linear-gradient(45deg, #844615, #9d603b, #b37b60, #c79885, #d9b6ab, #dabab1, #dabdb7, #dac1bc, #ccaba4, #bd958c, #ae7f75, #9f6a5e);
  color: #111;
  animation: bronze 1s infinite;
  text-shadow: 1px 1px 1px #fefefe;
}

@keyframes bronze {

}

.title-111 { // silver
  background: linear-gradient(45deg, #c2ccd7, #bdc7d3, #b8c1cf, #b3bcca, #afb6c6, #b1b8c8, #b2bbca, #b4bdcc, #bec8d5, #c9d4dd, #d4dfe5, #e1eaee);
  color: #114;
  animation: silver 1s infinite;
  text-shadow: 1px 1px 1px #fefefe;
  box-shadow: 0 1px 1px #114;
}

@keyframes silver {
  0% {background: linear-gradient(45deg, #c2ccd7, #bdc7d3, #b8c1cf, #b3bcca, #afb6c6, #b1b8c8, #b2bbca, #b4bdcc, #bec8d5, #c9d4dd, #d4dfe5, #e1eaee);}
  33% {background: linear-gradient(45deg, #bec8d5, #c9d4dd, #d4dfe5, #e1eaee, #c2ccd7, #bdc7d3, #b8c1cf, #b3bcca, #afb6c6, #b1b8c8, #b2bbca, #b4bdcc);}
  66% {background: linear-gradient(45deg, #afb6c6, #b1b8c8, #b2bbca, #b4bdcc, #bec8d5, #c9d4dd, #d4dfe5, #e1eaee, #c2ccd7, #bdc7d3, #b8c1cf, #b3bcca);}
}

.title-112 { // gold
  background: linear-gradient(45deg, #f6daa8, #ebcf9e, #e0c594, #d6ba8b, #cbb081, #ccb284, #ccb386, #cdb589, #d9c399, #e6d1a9, #f2e0b9, #ffeeca);
  color: #333;
  animation: gold 1s infinite;
  text-shadow: 1px 1px 1px #fefefe;
}

@keyframes gold {
  0% {background: linear-gradient(45deg, #f6daa8, #ebcf9e, #e0c594, #d6ba8b, #cbb081, #ccb284, #ccb386, #cdb589, #d9c399, #e6d1a9, #f2e0b9, #ffeeca);}
  33% {background: linear-gradient(45deg, #d9c399, #e6d1a9, #f2e0b9, #ffeeca, #f6daa8, #ebcf9e, #e0c594, #d6ba8b, #cbb081, #ccb284, #ccb386, #cdb589);}
  66% {background: linear-gradient(45deg, #cbb081, #ccb284, #ccb386, #cdb589, #d9c399, #e6d1a9, #f2e0b9, #ffeeca, #f6daa8, #ebcf9e, #e0c594, #d6ba8b);}
}


.title-113 { //  title-cloud
    color: #f6daa8;
    background-color: #000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ac956d' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}

@keyframes glitch
{
    0%   {text-shadow: -1px 0 #00fff9, 1px 2px #ff00c1;}
    50%  {
        text-shadow: -1px -1px #ff00c1, 1px 1px #00fff9;
        background: repeating-linear-gradient(
        0deg,
        #777,
        #777 1px,
        #111 1px,
        #111 2px
        );
    }
    66%  {text-shadow: -1px 0px #00fff9, 1px 0px #ff00c1;}
    83%  {text-shadow: 1px 0px #00fff9, -1px 0px #ff00c1;}
}

@keyframes rainbow
{
0%   { padding-top: 2px; padding-left: 4px; padding-right: 8px; padding-bottom: 6px; }
33%  { padding-top: 2px; padding-left: 8px; padding-right: 2px; letter-spacing: 1px; margin-right: -3px;}
66%  {padding-top: 6px; padding-bottom: 2px; letter-spacing: -1px; margin-right: 4px;}
100%   { padding-top: 2px; padding-left: 2px; padding-right: 10px; padding-bottom: 6px; }
}

.fixed-height-90{
    max-height: 90px;
    overflow:hidden;
}
.link-block{
    display:block;
}
.font-weight-400{
    font-weight:400;
}
